.clearfloat 
{
	clear: both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

#container
{
	width: 800px;
	margin: 50px auto 0 auto;
}

#map_container
{
	float: left;
}

#search_container
{
	width: 400px;
	height: 400px;
	float: right;
}

#map_iframe
{
	width: 400px;
	height: 400px;
	border: 0;
}

#search_show_more_results
{
	padding: 0.15em 0;
	color: #000000;
	font-weight: bold;
	text-decoration-style: dashed;
	width: 80px;
	margin: 0 auto;
	display: block;
}

.search_result
{
	cursor: pointer;
}

.search_label
{
	display: inline-block;
	margin: 0.2em 0.4em;
}

#search_header
{
	background-color: #B0CFFE;
}

#search_input
{
	border: 0;
	background-color: #EAF2FF;
	line-height: 1.7em;
	height: 1.7em;
	width: 100%;
	padding: 0;
}

.seperator
{
	width: 100%;
	border-bottom: 0.2em solid #81A0AD;
}

.search_result_label
{
	padding: 0.2em 0 0.2em 1em;
}

#search_content
{
	position: relative;
	bottom: 0;
	overflow: auto;
	height: 80%;
}

.search_show_more
{
	width: 100%;
	background-color: #81A0AD;
}

#search_weekend_container
{
	float: left;
}

#search_support_container
{
	float: right;
}

#suggestions_container
{
	display: none;
	position: absolute;
	background-color: #EAF2FF;
	z-index: 1;
}

.city_suggestion
{
	margin: 0;
	padding: 0;
	line-height: 1;
	cursor: pointer;
}

.hover
{
	background-color: #81A0AD;
}

.city_suggestion_label
{
	display: inline-block;
	overflow: hidden;
}

.soft
{
	color: #81A0AD;
}