{# app/Resources/views/search/results.html.twig #}

{% for office in offices %}
	<div class="search_result">
		<div class="search_result_label"> - Kantoor te {{ office.street }}, {{ office.city.cityName }}</div>
	</div>
{% endfor %}