@CHARSET "ISO-8859-1";

table
{
	width: 100%;
}

td
{
	border: 1px solid #989c8e;
	padding: 4px 12px 4px 12px;
}

tr.odd
{
	background: #e4eeea;
}

th
{
	height: 22px;
	background: #006649;
	padding: 4px 12px 4px 12px;
}
td.tool_btn
{
	width: 25px;
}